*{
    margin: 0px;
}

.wrapper{
    background-color:#c3c3c3;
    min-height: 400px;
    width: 60%;
    padding: 10px;
    margin: auto;
}

.form-group>label{
    display: block;
}
.form-group{
    margin-bottom: 10px;
}

.form-group>input{
    width: 70%;
    height: 30px;
    
}

form>input{
    
    width: 200px;
    height: 40px;
    margin-top: 10px;
}
.error{
    color:red;
    display: block;
}